build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp

.vscode/
.idea/

# Files downloaded while using the repo that shouldn't be checked in.
dinov2_vitb14_reg4_pretrain.pth
notebooks/models/
datasets/
inference-results/
results/
